@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: local('Nosifer'), local('Nosifer-Regular'), url(https://fonts.gstatic.com/s/nosifer/v6/LWNvYs3IFgavEkPu6rQVcPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: local('Nosifer'), local('Nosifer-Regular'), url(https://fonts.gstatic.com/s/nosifer/v6/eF2_jPFOvazU2jusNUruvw.woff2) format('woff2');
}
h1 {
	font-family: Nosifer;
	background-color: orange;
}
.prueba2 {
	font-size: 30pt;
}
#resaltar {
	background-color: peru;
}
h1:hover{
	color: red;
}

nav{
}
nav ul{
}
nav ul li{
}
ul a{

}
ul > a{
	text-decoration: none;
}
ul + a{

}
a[hreflang="en"]{
	color:red;
}
a[hreflang="es"]{
	color:green;
}
